@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

html,
body,
#root {
  height: 100%;
}
